*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    border-bottom: 1px solid black;
    padding: 16px;
    font-family: "Lora", serif;
    margin-bottom: 1rem;
    

}


.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    
}


#logo{
    color: black;
    font-size: 2rem;
    text-decoration:none;
}
.navList{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}
.navLink{
    text-decoration: none;
    color: rgb(101, 100, 100);
}
h1,h2,h3,h4,#logo{
    font-family: "Lora", serif;
}
h1{
    font-size:2.986rem ;
    font-weight: 500;
    margin-bottom: 1.5rem;
    line-height: 120%;
}
h2{
    font-size:2.488rem;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 120%;
}

h3{
    font-size:2.074rem;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 120%;
}

p{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: rgb(101, 100, 100);
    margin-bottom: 1rem;
    line-height: 130%;
    
}
a{
    font-family: "Lora", serif;
}

.button{
    display: inline-block;
    text-decoration: none;
    border-radius: 2px;
    padding: 8px 16px;
    margin-top: 1.5rem;
    gap: 1rem;
    
}

.buttonprimary{
    background-color: black;
    color: white;
    border: 1px;}
    
.buttonsecondary{
    color: black;
    border: 1px solid black;
    
}
img{
    width: 50%;
    border-radius: 2%;
}
.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    line-height: 150%;
    gap: 1rem;

}
.section2{
    background-color: rgb(212, 212, 212);
    padding: 2rem 4rem;
    line-height: 150%;
 
}
.featuresList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    gap: 16px;

}

.features{
    border: 1px solid white;
    background-color: white;
     padding: 2rem 1rem;
}
.featureimages{
    width: 30%;
}
.section3{
    padding: 2rem 4rem;
    line-height: 150%;
    gap: 1rem;
}

.section3Lists{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.section3List{
    border: 1px solid black;
    border-radius: 2%;
    
}

.section3img{
    width: 100%;
    border-radius: 2%;
    margin-bottom: 12px;
}
.cardtittle{
    padding: 1rem 1rem;
    align-items: center;
}

.section3Link{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    border: 100%;
    border-radius: 8%;
    padding: 12px 1rem;


}